.navbar {
  position: sticky;
  top: 0;

  width: 100%;
  height: 60px;

  background-color: #111;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
margin-right: 20px;
  padding: 0 20px;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #00bcd4;
}
